{% extends 'APP1/base.html' %}
{% load static  %}
{% block head %}   
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'feedback.css' %}">

{% endblock head %}

{% block body %}
  <div class = "grid-container" id ="feedback" >
    
    <div class = "grid-child bagian-1" >
        <div class = "card z-depth-3">
          <div class ="card-panel center  purple darken-2">
            <span class = "card-title">Your Feedback
            <p id = "lain">There are {{total}} kind feedbacks already and they are really helpfull.</p>
            <p id = "lain">Submit yours now!</p></span>
          </div>
          {% if not warn %}
                <div class = "Rate" id = "rate" style = "text-align: center;">
                    <form class = "rate-form" action="" method="post">
                      {% csrf_token %}
                    <p id = "tulisan-rate">Rate how much this website helped you</p>
                    <button type = "submit" class="fa fa-star fa-3x my-btn" id = "satu"></button>
                    <button type = "submit" class="fa fa-star fa-3x my-btn" id = "dua"></button>
                    <button type = "submit" class="fa fa-star fa-3x my-btn" id = "tiga"></button>
                    <button type = "submit" class="fa fa-star fa-3x my-btn" id = "empat"></button>
                    <button type = "submit" class="fa fa-star fa-3x my-btn" id = "lima"></button>
                  </form> 
          
                </div>
                <br>
                <hr style="width:85%;text-align:center;">
                <form class = "site-form" action="/feedback/add/" method="post" >
                    {% csrf_token %}
                    <p id = "tulisan-rate">What does your issue related to?</p>
                      <div class = "category" style = " text-align: center; display: grid; grid-gap: 5px; grid-template-columns: repeat(1, 100%%);">
                        <button  for = "topik" class = "btn-small purple accent-4 waves-effect waves-light pink" onclick = "getVal1();" value = "Content" id = "btn-category1">Content</button>
                        <button  for = "topik" class = "btn-small purple accent-4 waves-effect waves-light pink" onclick = "getVal2();" value = "Design" id = "btn-category2">Design</button>
                        <button  for = "topik" class = "btn-small purple accent-4 pink darken-4 waves-effect waves-light pink" onclick = "getVal3();" value = "Usability" id = "btn-category3">Usability</button>
                        <button  for = "topik" class = "btn-small purple accent-4 waves-effect waves-light pink" onclick = "getVal4();" value = "Other" id = "btn-category4">Other</button>
                      </div>
                      <br>
                      <div class = "category-pilih" style="text-align: center;">

                      </div>
                      <hr style="width:85%;text-align:center;">
                    <div class ="input-field">
                        <p id = "tulisan-rate">Please leave your feedback below</p>
                        <label></label>{{formulir.body}}
                        <input required type="hidden" name="topik" id ="myForm" value= "">
                    </div>
                    <br>
                    <div class ="center">
                      <input type="submit" value = "Submit" id = "tombol-submit" class = "btn-large  purple lighten-3" href ="" >
                    </div>
                </form>
                <br>
                {% endif %}           
              </div>
      
            {% if apakah %}
            <div class="divider"></div>
                <div class="card-content" style="padding: 16px; color: rgb(187, 52, 176);">
                  <div style="text-align: center; color: #DA4167; font-weight: 300pt; font-size: 12pt;background-color: #FFCECB; padding: 16px;">
                    Thank You for your feedback !
                  </div>
            </div> 
            {% endif %}

            {% if warn %}
            <div class="divider"></div>
                <div class="card-content" style="padding: 16px;">
                  <div style="text-align: center; color: #DA4167; font-weight: 300pt; font-size: 12pt;background-color: #FFCECB; padding: 16px;">
                    You must be logged in before posting a feedback
                  </div>
                </div>
            {% endif %}
        </div>

        <div class = "grid-child bagian-2">
              {% if not warn and total >= 1%}
                <br>
                <div class = "containter-feedback" style= "width: 100%;">
                <h3 style = " color: blueviolet; font-weight: bolder;">Feedbacks.</h3>
                  {% for feedback in semua %}
                    <div class="row">
                      <div class="col s12">
                        <div class="card-panel  purple lighten-5">
                          <div class = "feedback-rate" style="">
                              {%if feedback.nilai == 1 %}
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x"></span>
                                <span class="fa fa-star fa-2x"></span>
                                <span class="fa fa-star fa-2x"></span>
                                <span class="fa fa-star fa-2x"></span>
                              {%elif feedback.nilai == 2 %}
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x"></span>
                                <span class="fa fa-star fa-2x"></span>
                                <span class="fa fa-star fa-2x"></span>
                              {%elif feedback.nilai == 3 %}
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x"></span>
                                <span class="fa fa-star fa-2x"></span>
                              {%elif feedback.nilai == 4 %}
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x"></span>
                              {%elif feedback.nilai == 5 %}
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                                <span class="fa fa-star fa-2x checked"></span>
                              {% endif %}
                          </div>
                          <div style ="font-size:16px; display:inline;">
                              {%if feedback.topik != ""%}
                                <br>
                                <p style = "display:inline;"> About <span style = "color: #3D2645; font-weight: bolder;">{{feedback.topik}}</span></p>
                              {% endif %}
                          </div>
                          <br>
                          <br>
                          <span class="black-text" style = "width:50px; word-wrap: break-word;">{{feedback.body}}</span>
                          <br>
                          <hr style="width:100%;text-align:center;">   
  
                          <div class = "feedback-profil">
                            <p style = "font-size:small; font-weight: lighter; opacity: 80%;">{{feedback.waktu | date:"F d Y "}}</p>
                            <img style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover;" src="{{ feedback.author.image }}"> 
                            {{feedback.nama}}
                          <div>

                        </div>
                      </div>
                    </div>
                    </div>
                  {% endfor %}
              {% endif %}
          </div>
       </div>

  
{% endblock body %}

{% block script %}
<script>
    console.log("hello world");

    // all the stars
    const satu = document.getElementById("satu")
    const dua = document.getElementById("dua")
    const tiga = document.getElementById("tiga")
    const empat = document.getElementById("empat")
    const lima = document.getElementById("lima")

    const form = document.querySelector('.rate-form')
    const center = document.getElementById('rate')
    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    console.log(csrf)

    const arr =  [satu, dua, tiga, empat, lima]

    const handlestar = (size) =>{
      const children = form.children
      
      for (let i=0; i < children.length; i++){
        if (i <= size+1){
          children[i].classList.add('checked')
          console.log("check")
        }
        else{
          children[i].classList.remove('checked')
          console.log("kosong")
        }
      }
    }
    const handleSelect = (selection) => {
      switch(selection){
          case "satu": {
            handlestar(1)
            return
          }
          case "dua": {
            handlestar(2)
            return
          }
          case "tiga": {
            handlestar(3)
            return
          }
          case "empat": {
            handlestar(4)
            return
          }
          case "lima": {
            handlestar(5)
            return
          }
      }
    }
    const get_nomor = (stringValue) =>{
      let result;
      if (stringValue === 'satu'){
        result = 1
      }
      else if (stringValue === 'dua'){
        result = 2
      }
      else if (stringValue === 'tiga'){
        result = 3
      }
      else if (stringValue === 'empat'){
        result = 4
      }
      else if (stringValue === 'lima'){
        result = 5
      }
      else {
        result = 0
      }
      return result
    }
   
    
    arr.forEach(item=> item.addEventListener('mouseover', (event)=>{
        handleSelect(event.target.id)
        console.log(event.target.id)

    }))

    arr.forEach(item=> item.addEventListener('click', (event)=>{
        const nilai = event.target.id
        
        let isSubmit = false
        form.addEventListener('submit', e =>{
          e.preventDefault()
          if (isSubmit) {
              return
          }
          isSubmit = true
          const rate = get_nomor(nilai)
          $.ajax({
            type : 'POST',
            url : 'rate/',
            data: {
              'csrfmiddlewaretoken': csrf[1].value,
              'val': rate,
            },
            success: function(response){
              console.log(response)
              center.innerHTML = `<p id = "tulisan-rate" style = "font-size: 12pt">Thank you for your rating</p>`
            },
            error: function(error){
              console.log(error)
              
            }
          })
        })
    }))
    

    var kategori = "";
    function getVal1() {
      var category = document.getElementById("btn-category1").value;
      kategori = category;
      
      $(".category-pilih").html('<span id = "tulisan-rate" stlye = "font-size: small;">Selected Category : '+ '<span style= "font-weight: bolder; color: rgb(250, 44, 96);">' + kategori +'</span> </span>')
    }

    function getVal2() {
      var category = document.getElementById("btn-category2").value;
      kategori = category;
     
      $(".category-pilih").html('<span id = "tulisan-rate" stlye = "font-size: small;">Selected Category : '+ '<span style= "font-weight: bolder; color: rgb(250, 44, 96);">' + kategori +'</span> </span>')
    }

    function getVal3() {
      var category = document.getElementById("btn-category3").value;
      kategori = category;
      
      $(".category-pilih").html('<span id = "tulisan-rate" stlye = "font-size: small;">Selected Category : '+ '<span style= "font-weight: bolder; color: rgb(250, 44, 96);">' + kategori +'</span> </span>')
    }

    function getVal4() {
      var category = document.getElementById("btn-category4").value;
      kategori = category;
      
      $(".category-pilih").html('<span id = "tulisan-rate" stlye = "font-size: small;">Selected Category : '+ '<span style= "font-weight: bolder; color: rgb(250, 44, 96);">' + kategori +'</span> </span>')
    }


    $(".site-form").submit(function(event){
      console.log(kategori);
      $('#myForm').val(kategori);
      console.log(kategori);
      /*
      $.ajax({
        type : "POST",
        url : "/feedback/add/",
        data : {
          'csrfmiddlewaretoken': csrf[0].value,
          'kategori': kategori,
        },
        succes: function(){

        },
        error: function(error){
              console.log(error)   
        }
      })*/
    });
</script>
{% endblock script %}