{% extends 'APP1/base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'userProfile.css' %}">
	<style type="text/css">
		#profilepicture-clear_id {
 			 display: none;
		}
		label[for=profilepicture-clear_id]{
			display: none;
		}
	</style>
	
{% endblock %}
{% block body %}

<div class="container">
<div class="row">
	<div class="col l3 s12">
		<div style="text-align: center; padding: 10px;" class="card card-body">
			<a class="btn waves-effect waves-light" href="{% url 'APP1:index' %}"
			style="
			background: white;
			color: #da4167;
			border-radius: 5px;
			margin-bottom: 10px;
			border: #da4167 1.6px solid;
			"
			> 
				&#8592; Back to 🏠
			</a>
			<li class="divider" tabindex="-1"></li>
			<p class="flow-text">Profile Settings</p>
			<div id="profilepic">
				<img class="profile-pic" src="{{request.user.account.image}}">
			</div>
			
		</div>
	</div>
	<div class="col l9 s12">
		<div style="padding: 10px;" class="card card-body">
			<form class="profileset" method="POST" action="" id="profileform" enctype="multipart/form-data">
				{% csrf_token %}
				<div>
					<label for="id_name">Name:</label>
					{{form.name}}	
				</div>
				<div>
					<label for="id_email">Email:</label>
					{{form.email}}
				</div>
				<div>
					<label for="id_job">Job:</label>
					{{form.job}}
				</div>
				<div>
					<label for="id_age">Age:</label>
					{{form.age}}
				</div>
				<div id="setpict">
					{{ form.profilepicture }}
				</div>
				<div class="z-depth-1" id="messages"
					style="padding: 6px;
					font-size: .8rem;
					margin-bottom: 10px;
					color: #15c06d; 
					height: fit-content; 
					border-radius: 5px; 
					width: fit-content;
					background: white">
				</div>
				
				<div >
				</div>
				<button class="btn waves-effect waves-light" type="button" name="action"
				style="background: #832161; border-radius: 5px;"
				>
					Submit
					<i class="material-icons right">send</i>
				</button>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock body %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
	var objRes = $('#messages')

	function readURL(input) {
		
		if (input.files && input.files[0]){
			var reader = new FileReader();

			reader.onload = function (e) {
				$('.profile-pic').attr('src',e.target.result);
				
			}

			reader.readAsDataURL(input.files[0]);
		}
	}

	$('#id_profilepicture').change(function(){
		objRes.empty()
		readURL(this);
	})


	$('#profileform .btn').click(function () {
		$.ajax({
			url: '/userProfile/picupdate/',
			type: 'POST',
			data: new FormData(profileform),
			processData: false,
			contentType: false,
			success: function(response){
				var setpict=$('#setpict')
				// var myRes = JSON.parse(response);
				objRes.empty();
				console.log("success");
				console.log(response.message);
				objRes.append(response.message);
				$('.profile-pic').attr('src',response.img);
				$('.profile__img').attr('src',response.img);
				setpict.empty();
				setpict.append('Currently: '+ '<a href="'+ response.imgLoc + '">'+ response.imgLoc+'</a>' );
				setpict.append('<br> Change: '+'<input type="file" name="profilepicture" accept="image/*" id="id_profilepicture">');
			}
		});
		
	});
</script>>
{% endblock script %}