.news {
    min-height: 100vh;
    height: fit-content;
    font-family: 'Poppins', sans-serif;
}

.row {
    margin-bottom: 0;
    max-height: 250px;
}

.title__news {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #832161;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.title__news::before {
    content: '';
    background: linear-gradient(180deg, #832161 0%, #DA4167 100%);
    width: 11px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
}

.card__badges {
    background: rgba(255, 255, 255, 0.23);
    border-radius: 10px;
    color: white;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.card-title {
    font-weight: 500 !important;
    color: inherit;
    margin-top: 9px !important;
}

.card.horizontal {
    border-radius: 10px;
    background: linear-gradient(248.9deg, #DA4167 -130.81%, #832161 45%);
    color: white;
}

.card.horizontal .card-image {
    max-width: 300px;
    /* min-width: 100%; */
}

.card-image img {
    object-fit: cover !important;
    object-position: top;
    width: 100% !important;
    min-height: -webkit-fill-available;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    height: 100%;
}

.page-footer {
    margin-top: 80px !important;
}

.body__container {
    position: relative;
}

.card-content{
    position: relative;
}
.timestamp{
    position: absolute;
    bottom: 20px;
    font-size: 13px;
    color: rgb(219, 219, 219);
}

body {
    background: #FFE0DE;
}

@media screen and (max-width: 770px) {
    .card.horizontal {
        flex-direction: column;
    }
    .card.horizontal .card-image {
        max-width: 100%;
    }
    .card.horizontal .card-image img {
        object-fit: cover !important;
        object-position: top;
        width: 100% !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .card-title {
        font-size: initial !important;
        line-height: initial !important;
    }
    .timestamp{
        position: relative;
        bottom: 0;
    }
}