#signup {
  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 480px;
  min-height: 100vh;
  margin: auto;
  top: 20px;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: bolder;
  color: white;
}

.site-form {
  padding: 20px;
}
.row{
  max-width: 100%;
  margin: 0 !important;
}

.helptext {
  visibility: hidden;
  display: none;
}

.body__container {
  min-height: 100vh;
  height: fit-content;
}

.profile-pic {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.profileset {
  margin-left: 5px;
}

.errorlist{
  color: red;
  list-style: outside;
}