.forums {
    background: #FFE0DE;
    min-height: 100vh;
    height: fit-content;
}

.row {
    margin-bottom: 0;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #832161;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.title::before {
    content: '';
    background: linear-gradient(180deg, #832161 0%, #DA4167 100%);
    width: 11px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
}

.card.horizontal {
    border-radius: 10px;
}

.card-stacked {
    width: 100%;
}

.card-content {
    width: 100%;
}

.extras {
    font-size: 0.8rem;
    opacity: 80%;
}

.kenta-img-button {
    margin-right: 8px;
    border-radius: 5px;
    background-size: contain;
    width: 36px;
    height: 36px;
    align-self: center;
    transition: 0.1s;
    border: none;
    outline: none;
}

.kenta-img-button:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.kenta-img-button:active {
    filter: brightness(0.9);
}

.kenta-med {
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

#add_forum {
    background-image: url("icon/add_forum.svg");
}

#delete_forum {
    background-image: url("icon/delete_forum.svg");
}

#post_forum {
    background-image: url("icon/post_forum.svg");
}

#add_comment {
    background-image: url("icon/add_comment.svg");
}

#clear {
    background-image: url("icon/clear.svg");
}

#comment {
    background-image: url("icon/comment.svg");
}

.kenta-img-p-combo {
    margin: 4px 0;
    font-weight: 600;
    color: #3D2645;
}

.kenta-img-p-combo>img {
    width: 16px;
    vertical-align: middle;
    margin: 0 4px;
}

textarea {
    font-family: inherit;
    width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

@media screen and (max-width: 500px) {
    .card.horizontal {
        flex-direction: column;
    }
    .card.horizontal {
        max-width: 100%;
    }
    .card.horizontal {
        object-fit: cover !important;
        object-position: top;
        width: 100% !important;
    }
}