{% extends 'APP1/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href={% static 'forums/forums.css' %}>
<link rel="stylesheet" href={% static 'forums/add_forum.css' %}> {% endblock head %} {% block body %}
<div class="forums">
    <div class="container">
        <div class="title">
            Add Forum
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-content">
                        <form method="post" action="{% url 'forums:forums_add_forum' %}">
                            {% csrf_token %}
                            <div>{{form.caption}}</div>
                            <div>
                                <label>Body</label> {{form.body}}
                            </div>
                            {{form.author}}
                            <input class="kenta-img-button kenta-med tooltipped" data-tooltip="Post forum"
                                id="add_forum" type="submit" name="" value="">
                            <input class="kenta-img-button kenta-med tooltipped" data-tooltip="Clear" id="clear"
                                type="reset" name="" value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %} {% block script %} {% endblock script %}