{% extends 'APP1/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href={% static 'forums/forums.css' %}>
<link rel="stylesheet" href={% static 'forums/detail_forum.css' %}> {% endblock head %} {% block body %}
<div class="forums">
    <div class="forum-detail">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <h4>
                        {{forum.caption}}
                    </h4>
                </div>
                <div class="card-content" style="opacity: 80%;">
                    <div style="opacity: 80%;">
                        <span>Created {{forum.timestamp | date:"F d Y"}}</span>
                    </div>
                    <div class="kenta-img-p-combo">
                        <img style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover;" src="{{ forum.author.image }}"> {{forum.author.name}}
                    </div>
                </div>
                <div class="divider"></div>
                <div class="card-content">
                    <p style="font-size: 12pt; white-space: pre-wrap;">{{forum.body}}
                    </p>
                </div>
                <div class="card-content" style="display: flex; flex-direction: row;">
                    {% if author %}
                    <form method="post" action="{% url 'forums:forums_delete_forum' forum.id %}" style="height: 36px;">
                        {% csrf_token %}
                        <input class="kenta-img-button tooltipped" id="delete_forum" type="submit" value="" data-tooltip="Delete forum <br> and its comments">
                    </form>
                    {% endif %}
                    <div class="kenta-img-button tooltipped" id="comment" data-tooltip="Reply with comment" onclick='toggle_comment()'>
                    </div>
                </div>

            </div>
        </div>
        <div class="card horizontal" id="kenta-add-comment-toggle" style="overflow: hidden; width: 80%; height: 0px; transition: 0.2s;">
            <div class="card-content">
                <form method="POST" action="{% url 'forums:forums_detail_forum' forum.id %}">
                    <div style="display: flex; align-items: flex-end;">
                        {% csrf_token %}
                        <input type="hidden" name="forum" value="{{forum.id}}"> {% if warn %}
                        <div class="kenta-img-button kenta-med tooltipped" style="pointer-events:visible; opacity: 0.5; cursor: not-allowed;" data-tooltip="Post comment" id="add_comment"></div>
                        <div style="color: #DA4167; font-weight: 300pt; font-size: 12pt;background-color: #FFCECB; padding: 16px; width: 100%;">
                            You must be logged in before posting comments
                        </div>
                        {% else %}
                        <img style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover; margin-right: 10px;" src={{request.user.account.image}} alt="">{{comment_form.body}} <input style="margin: 0 0 0 10px;" class="kenta-img-button kenta-med tooltipped" data-tooltip="Post comment" id="add_comment" type="submit" name="" value=""> {% endif %} 
                    </div>
                </form>
            </div>
        </div>
        {% if forum.comments.count > 0 %}
        <div class="card horizontal" style="width: 80%;">
            <div class="card-stacked">
                <div class="card-content">
                    <h5>
                        Comments
                    </h5>
                </div>
                {% for comment in forum.comments.all %}
                <div class="divider"></div>
                <div class="card-content">

                    <div class="kenta-img-p-combo">
                        <img style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover;" src="{{ comment.author.image }}"> {{comment.author.name|truncatechars:8}}
                    </div>
                    <p style="border-top: 1px solid #3D2645; padding-top: 8px; white-space: pre-wrap; word-wrap: break-word;">{{comment.body}}</p>
                    <div class="extras">
                        <div style="opacity: 80%;">
                            <span>Posted {{ comment.timestamp|timesince }} ago</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock body %} {% block script %}
<script>
    function toggle_comment() {
        var toggle = document.getElementById("kenta-add-comment-toggle");
        var form = document.getElementById("id_body");
        if (toggle.style.height == "0px") {
            toggle.style.height = "104px";
            setTimeout(function() {
                toggle.style.height = "fit-content";
            }, 200)
        } else {
            if (form != null) {
                form.value = "";
                form.style.height = "46px";
            }
            toggle.style.height = "104px";

            setTimeout(function() {
                toggle.style.height = "0px";
            }, 1)
        }
    }
</script>
{% endblock script %}