{% extends 'APP1/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href={% static 'news/news.css' %}>
<link rel="stylesheet" href={% static 'forums/forums.css' %}>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %} {% block body %}
<div class="forums">
    <div class="container">
        <div class="title">
            Forums
        </div>
        <div class="row">
            {% if request.user.is_authenticated %}
            <div class="switch">
                <label>
                    All forums
                    <input onchange="switchFollow(this)" type="checkbox">
                    <span class="lever"></span>
                    Followed by me
                </label>
            </div>
            {% endif %}
            <div class="input__news">
                <input placeholder="Search Forums" type="text" name="search" class="browser-default search__news"
                    autocomplete="off" id="">
            </div>
            <div class="divider" style="margin: 10px 0;"></div>
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content" style="display: flex; flex-direction: row; align-items: center;">
                            <a style="margin-right: 1rem;" href="{% url 'forums:forums_add_forum' %}">
                                <div class="kenta-img-button" id="add_forum"></div>
                            </a>
                            <span style="color: #15c06d; font-weight: 300pt; font-size: 12pt;">Add a new forum
                                discussion</span>
                        </div>
                        {% if warn %}
                        <div class="divider"></div>
                        <div class="card-content" style="padding: 16px;">
                            <div
                                style="color: #DA4167; font-weight: 300pt; font-size: 12pt;background-color: #FFCECB; padding: 16px;">
                                You must be logged in before creating a new forum
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="wrapper"></div>
        </div>
    </div>
</div>

{% endblock body %}

{% block script %}
<script>
    let followIcon = (data) => {
        return (data.fields.followed_by).includes(parseInt('{{request.user.account.id}}')) ? 'notifications' : 'notifications_none'
    }
    let followTooltip = (data) => {
        return (data.fields.followed_by).includes(parseInt('{{request.user.account.id}}')) ? 'Remove from <br> followed forums' : 'Add to <br> followed forums'
    }

    let forumCard = (data) =>
        `
        <div class="col s12" id="row_${data.pk}">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="truncate card-title">${data.fields.caption}</span>
                                <p class="truncate">${data.fields.body}</p>
                            </div>
                            <div class="card-content extras " style="padding: 0 24px; ">
                                <div style="opacity: 80%; ">
                                    <span>Created at ${convertDate(data.fields.timestamp)}</span>
                                </div>
                                <div class="kenta-img-p-combo ">
                                    <img style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover;"
                                        src="${data.fields.author_image}">
                                        ${truncate(data.fields.author_name, 8)}, ${data.fields.author_job}
                                </div>
                                <div class="kenta-img-p-combo ">
                                    <img src="{% static 'forums/icon/comments.svg' %}"> ${data.fields.comments}
                                </div>
                            </div>
                            <div class="card-action ">
                                <span style="width:100%;"><a href="./${data.pk}">Join forum</a></span>
                                <i 
                                id_follow=${data.pk} 
                                data-position="top" 
                                data-tooltip="${followTooltip(data)}" 
                                style="cursor: pointer" 
                                class="tooltipped material-icons follow">${followIcon(data)}</i>
                                </div>
                        </div>
                    </div>
                </div>
    `

    let timer, timeoutVal = 1000;

    $(document).ready(function () {
        fetchRegular();

        $('.input__news').on({
            click: () => {
                if (!($('.search__news').is(':focus'))) {
                    getValue(1);
                }
            },
            input: () => {
                handleKeyPress()
            },
            keyup: () => {
                getValue(1)
            }
        })
    });

    function activateFollow() {
        $('.tooltipped').tooltip();

        $('.follow').each((index, value) => {
            $(value).click(function () {
                let pk = $(this).attr('id_follow');
                '{% if request.user.is_authenticated %}'
                if ($(this).html() == "notifications_none") {
                    $.ajax({
                        url: `/forums/set_follow/?id=${pk}&action=add`,
                        success: () => { $(this).text('notifications'); }
                    })
                } else {
                    $.ajax({
                        url: `/forums/set_follow/?id=${pk}&action=remove`,
                        success: () => { $(this).text('notifications_none'); }
                    })
                }
                $(this).attr('data-tooltip', $(this).attr('data-tooltip') === 'Add to <br> followed forums' ? 'Remove from <br> followed forums' : 'Add to <br> followed forums')
                $(this).tooltip('close');
                '{% else %}'
                $(value).addClass('modal-trigger')
                $(value).attr('href', '#modal1')

                $(value).parent().append(`
                    <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>You must login first</h4>
                        <a href="{% url 'userProfile:login' %}">Login Here!</a>
                    </div>
                    </div>
                `)
                $('.modal').modal();
                '{% endif %}'
            })
        })
    }

    function switchFollow(el) {
        if ($(el).prop('checked')) {
            fetchFollow();
            $('.input__news').hide()
        } else {
            fetchRegular();
            $('.input__news').show()
        }
    }

    function truncate(string, int) {
        if (string.length < int) return string
        return string.slice(0, int) + "..."
    }

    function fetchFollow() {
        handleKeyPress();
        $.ajax({
            url: '{% url "forums:forums_get_follow" %}',
            success: (result) => {
                $(".wrapper").empty();
                $(".wrapper").append(
                    result.map(data => forumCard(data))
                );
                console.log(result)
            }
        }).then(data => {
            activateFollow();
            $('.follow').click(function () {
                let pk = $(this).attr('id_follow')
                $(`#row_${pk}`).remove();
            })
        });

    }

    function fetchRegular() {
        handleKeyPress();
        let query = $('.search__news').val();
        $.ajax({
            url: `/forums/search/?search=${query}`,
            success: (result) => {
                $(".wrapper").empty();
                $(".wrapper").append(
                    result.map(data => forumCard(data))
                );
            }
        }).then(data => {
            activateFollow();
        });
    }

    function convertDate(time) {
        let date = new Date(time)
        let localTime = new Date()

        let getHours = Math.floor((localTime.getTime() - date.getTime()) / (1000 * 3600))
        let Difference_In_Days = Math.floor((localTime.getTime() - date.getTime()) / (1000 * 3600 * 24))

        return `⏲ ${Difference_In_Days == 0
            ? getHours + ' hours ago'
            : Difference_In_Days == 1
                ? 'Yesterday'
                : Difference_In_Days + ' days ago'}`
    }

    function getValue() {
        window.clearTimeout(timer);
        pageNow = 1;
        timer = window.setTimeout(() => {
            fetchRegular()
        }, timeoutVal);
    }

    function handleKeyPress() {
        window.clearTimeout(timer);
        $(".wrapper").css({
            'text-align': 'center'
        })
        $(".wrapper").html(loader + "<p style='margin: 0'>loading...🦠</p>")
    }
</script>
{% endblock script %}