{% extends 'news/news.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href={% static 'news/news_detail.css' %}>
{% endblock head %}
  

{% block body %}
  <div class="news__detail">
    <div class="container">
      <div class="name__news">
        {{news.name}}
      </div>
      <div class="content__news">
        <p class="content__title">
          {{news.title}}
        </p>
        <span>
          published at {{ news.timestamp|date:"l, j M Y H:i" }} WIB - {{ news.author|default:"NaN" }}. 
        </span>
        <div style="display: flex; align-items: center; margin-top: 10px;">
          
          {% if news.likedby.all|length > 0 %}
          <i style="color: rgb(62, 91, 255); transform: scale(.7);" class="like__news small material-icons">thumb_up</i>{{news.likedby.all|length}} likes
          {% endif %}
            
        </div>
        <div style="text-align: center; margin: 30px 0;">
          <img class="news__img" src={{ news.image_url }} alt="" onerror="this.src='/static/news/news_default.svg'">
        </div>
        <div class="news__body">
          {{ news.content|default:news.description }}
        </div>
        <div style="text-align: center; margin-top: 8px;">
          <a class="btn-floating btn-large cyan pulse" href={{ news.source }}>
            Read More
          </a>
        </div>
        
      </div>
      
    </div>
  </div>
{% endblock body %}
  