{% extends 'APP1/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href={% static 'news/news.css' %}>
{% endblock head %}


{% block body %}

<div class="news">
  <div class="container">

    <div class="title__news">
      News
    </div>
    
    {% if request.user.is_authenticated %}
    <div class="switch">
      <label>
        All news
        <input onchange="switchBookmark(this)" type="checkbox">
        <span class="lever"></span>
        My Bookmark
      </label>
    </div>
    {% endif %}
      
    <div class="input__news">
      <input placeholder="Search News" type="text" name="search"
        class="browser-default search__news" autocomplete="off" id="">
    </div>
    <div class="paginator__news">
      <ul style="bottom: 0;
        left: 50%;
        text-align: center;" class="pagination">

        <li class="disabled prev">
          <a>
            <i class="material-icons">chevron_left</i>
          </a>
        </li>

        <li class="waves-effect page__info"></li>

        <li class="waves-effect next">
          <a> 
            <i class="material-icons">chevron_right</i>
          </a>
        </li>

      </ul>
    </div>
      
    <div class="row__wrapper">
    </div>

    <ul style="bottom: 0;
        left: 50%;
        text-align: center;" class="pagination">

      <li class="waves-effect prev">
        <a>
          <i class="material-icons">chevron_left</i>
        </a>
      </li>

      <li class="waves-effect page__info"></li>

      <li class="waves-effect next">
        <a>
          <i class="material-icons">chevron_right</i>
        </a>
      </li>

    </ul>
  </div>

</div>

{% endblock body %}


{% block script %}
<script>

  let checkBookmark = (attr) => {
    return (attr.fields.bookmarkedby).includes(parseInt('{{user_id}}'))?'bookmark':'bookmark_border'
  }
  let checkBookmarkTooltip = (attr) => {
    return (attr.fields.bookmarkedby).includes(parseInt('{{user_id}}'))?'Remove':'Add'
  }

  let checkLikes = (attr) => {
    return (attr.fields.likedby).includes(parseInt('{{user_id}}'))?'fill_red':''
  }
  let checkLikesTooltip = (attr) => {
    return (attr.fields.likedby).includes(parseInt('{{user_id}}'))?'Undo':'Like'
  }

  let newsRow = (attr) => `
          <div id="row_${attr.pk}" class="row">
            <div class="col s12">
              <div class="card horizontal">
                <div class="card-image waves-effect waves-light">
                  <a href="/news/${attr.pk}/${String(attr.fields.title).toLowerCase().replaceAll(" ","-")}">
                    <img class="img_hover" src="${attr.fields.image_url}" onerror="this.src='/static/news/news_default.svg'">
                  </a>
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <span class="card__badges">${ attr.fields.name||"Nan" }</span>
                    <a href="/news/${attr.pk}/${String(attr.fields.title).toLowerCase().replaceAll(" ","-")}"
                    class="card-title">${ String(attr.fields.title) }</a>
                    <span class="timestamp">
                      <span style="flex: 1; font-size: .8rem;">${ convertDate(attr.fields.timestamp) }</span>
                      <i 
                      id_book=${attr.pk} 
                      data-position="top" 
                      data-tooltip="${checkBookmarkTooltip(attr)}" 
                      style="cursor: pointer" 
                      class="tooltipped material-icons bookmark">${checkBookmark(attr)}</i>
                      <span style="height: 25px; color: white; margin-left: 1rem; position: relative;">
                        <span id=${attr.pk} class="badge__icon">${attr.fields.likedby.length}</span>
                        <i 
                        data-position="top" 
                        data-tooltip="${checkLikesTooltip(attr)}" 
                        index_pk=${attr.pk} 
                        class="tooltipped like__news material-icons ${checkLikes(attr)}">thumb_up</i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          `;
  
  function activateBookmarkAndLikes() {
    $('.tooltipped').tooltip();
    
    $('.like__news').each((index, value) => {
      $(value).css('cursor','pointer')
      
      $(value).click(function () {
        '{% if request.user.is_authenticated %}'
          let count = $(`#${$(this).attr('index_pk')}`).html()
          let result = $(this).attr('index_pk');
          if ($(this).hasClass('fill_red')) {
            $(`#${result}`).text(--count);
            removeLike($(this).attr('index_pk'))
          } else {
            $(`#${result}`).text(++count);
            addLike($(this).attr('index_pk'));
          }
          ($(this).toggleClass('fill_red'))
          $(this).attr('data-tooltip', $(this).attr('data-tooltip')==='Like'?'Undo':'Like')
          $(this).tooltip('close');
        '{% else %}'
          $(value).addClass('modal-trigger')
          $(value).attr('href','#modal1')

          $(value).parent().append(`
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>You must login first</h4>
                <a href="{% url 'userProfile:login' %}">Login Here!</a>
              </div>
            </div>
          `)
          $('.modal').modal();
          '{% endif %}'
        })
    });
    
    $('.bookmark').each((index, value) =>{
      $(value).click(function(){
        let pk = $(this).attr('id_book');
        '{% if request.user.is_authenticated %}'
          if ($(this).html()=="bookmark_border") {
            $(this).text('bookmark');
            addBookmark(pk);
          } else {
            $(this).text('bookmark_border')
            removeBookmark(pk);
          }
          $(this).attr('data-tooltip', $(this).attr('data-tooltip')==='Add'?'Remove':'Add')
          $(this).tooltip('close');
        '{% else %}'
          $(value).addClass('modal-trigger')
          $(value).attr('href','#modal1')

          $(value).parent().append(`
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>You must login first</h4>
                <a href="{% url 'userProfile:login' %}">Login Here!</a>
              </div>
            </div>
          `)
          $('.modal').modal();
        '{% endif %}'
      })
    })
  }

  function switchBookmark(el) {
    
    if ($(el).prop('checked')) {
      fetchBookmark();
      $('.input__news').hide()
    } else {
      fetchNews();
      $('.input__news').show()
    }
  }

  function fetchBookmark() {

    handleKeyPress();
    $.ajax({
      url: `/news/bookmarked/`,
      success: (data) => {
        clearRow()

        $(".row__wrapper").append(
          data.map(attr => newsRow(attr))
        )
      }
    }).then((data)=>{

      activateBookmarkAndLikes();
      hideBookmarkedItem();
    })
  }

  function hideBookmarkedItem(){
    $('.bookmark').click(function () {
      let pk = $(this).attr('id_book')
      $(`#row_${pk}`).hide();
    })
  }
  
  function addBookmark(pk) {
    $.ajax({
      url: `/news/bookmark/add/?id=${pk}`,
    })
  }

  function removeBookmark(pk) {
    $.ajax({
      url: `/news/bookmark/remove/?id=${pk}`,
    })
  }

  function addLike(pk) {
    $.ajax({
      url: `/news/likes/add/?id=${pk}`,
      success: (data) => {
        $(`#${pk}`).text(data[0].fields.likedby.length)
      }
    })
  }

  function removeLike(pk) {
    $.ajax({
      url: `/news/likes/remove/?id=${pk}`,
      success: (data) => {
        $(`#${pk}`).text(data[0].fields.likedby.length)
      }
    })
  }
</script>
<script>
  let pageNow = 1;
  let pjglist = 0;
  let listNews;
  $(document).ready(function () {

    fetchNews();

    $('.input__news').on({
      click: () => {
        if (!($('.search__news').is(':focus'))) {
          getValue(1);
        }
      },
      input: () => {
        handleKeyPress()
      },
      keyup: () => {
        getValue(1)
      }
    })

    $('.prev').click(el => {
      
      if(pageNow>1){
        pageNow--;
        fetchNews();
      }
    })

    $('.next').click(el => {

      if (pageNow<pjglist) {
        pageNow++;
        fetchNews();
      }
    })

  });
  
  function convertDate(time) {
    let date = new Date(time)
    let localTime = new Date()
    
    let getHours = Math.floor((localTime.getTime()-date.getTime())/(1000*3600))
    let Difference_In_Days = Math.floor((localTime.getTime()-date.getTime())/(1000*3600*24))

    return `⏲ ${Difference_In_Days==0
      ?getHours+' hours ago'
      :Difference_In_Days==1
        ?'Yesterday'
        :Difference_In_Days+' days ago'}`
  }

  let timer, timeoutVal = 1000;

  function fetchNews() {
    handleKeyPress()
    let value = $('.search__news').val()
    $.ajax({
      url: `/news/search/?search=${value}&pageNow=${pageNow}`,
      success: (res) => {
        clearRow();

        (value != "" 
          ? $(".row__wrapper").append(`
            <p style="padding-top: 20px; padding-left: .75rem; font-size: 16px;">
              Hasil pencarian <b>"${value}"</b>, ${res.item_found} hasil ditemukan
            </p>`) 
          : '');

        pjglist = parseInt(res.page_length);
        
        $(".row__wrapper").append(
          res.data.map(
            attr => newsRow(attr)
          )
        )
      }
    }).then(data => {

      activateBookmarkAndLikes();
      pageBtnState();

    })
  }

  function pageBtnState() {
    $('.page__info').html(`Page ${pageNow} of ${pjglist}`);
    
    (pjglist <= 1 ? $('.pagination').hide() : $('.pagination').show());

    ((pageNow == pjglist) 
      ? $('.next').each(function() {
          $(this).removeClass('waves-effect').addClass('disabled')
        }) 
      : $('.next').each(function() {
          $(this).removeClass('disabled').addClass('waves-effect')
        })
    );
    
    ((pageNow == 1) 
      ? $('.prev').each(function() {
          $(this).removeClass('waves-effect').addClass('disabled').click(()=>{})
        }) 
      : $('.prev').each(function() {
          $(this).removeClass('disabled').addClass('waves-effect')
        })
    );
  }

  function clearRow() {
    $(".row__wrapper").empty()
    $(".row__wrapper").css({
      'text-align': 'initial'
    })
  }

  function getValue() {
    window.clearTimeout(timer);
    pageNow = 1;
    timer = window.setTimeout(() => {
      fetchNews()
    }, timeoutVal);
  }

  function handleKeyPress() {
    window.clearTimeout(timer);
    $(".row__wrapper").css({
      'text-align': 'center'
    })
    $(".row__wrapper").html(loader + "<p style='margin: 0'>loading...🦠</p>")
    $('.pagination').hide();
  }
</script>
{% endblock script %}