.news {
    min-height: 100vh;
    height: fit-content;
    font-family: 'Poppins', sans-serif;
}

.row {
    margin-bottom: 0;
    max-height: 250px;
}

.title__news {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #832161;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.title__news::before {
    content: '';
    background: linear-gradient(180deg, #832161 0%, #DA4167 100%);
    width: 11px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
}

.card__badges {
    background: rgba(255, 255, 255, 0.23);
    border-radius: 10px;
    color: white;
    font-size: .8rem;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.card-title {
    font-weight: 500 !important;
    font-size: 1.2rem !important;
    line-height: initial !important;
    color: inherit;
    margin-top: 9px !important;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card.horizontal {
    border-radius: 10px;
    background: linear-gradient(248.9deg, #DA4167 -130.81%, #832161 45%);
    color: white;
}

.card.horizontal .card-image {
    width: 300px;
    height: 200px;
    max-width: 100%;
}
.card-image{
    border-radius: 10px 0 0 10px;
}
.card-image img {
    object-fit: cover !important;
    object-position: center;
    width: 100% !important;
    min-height: -webkit-fill-available;
    height: 100%;
    transition: all .4s ease-in-out;
}

.page-footer {
    margin-top: 80px !important;
}

.body__container {
    position: relative;
}

.card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.timestamp{
    position: relative;
    font-size: 13px;
    color: rgb(219, 219, 219);
    width: 100%;
    display: flex;
    flex: auto;
    align-items: flex-end;
}
.input__news{
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.search__news{
    border: none;
    flex: 1;
    display: inline-block;
    border-radius: 20px;
    height: 36px;
    background-color: rgba(141, 141, 141, 0.295);
    padding: 0 14px;
}
.input__news::after{
    border-radius: 20px;
    content: '🔍';
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    display: inline-flex;
    position: absolute;
    right: 0;
    width: 36px;
    height: 36px;
    background-color: #832161;
}
.input__news:hover{
    cursor: pointer;
}
.fill_red{
    color: #55b2ff;
}
#modal1, #modal2{
    color: black;
}
.badge__icon{
    position: absolute;
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
    right: 20px;
    top: -2px;
    color: white;
    width: fit-content;
    min-width: 18px;
    height: fit-content;
    min-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
}

body {
    background: #FFE0DE;
}
.preloader-wrapper{
    margin: 50px 0 0 !important;
}
.switch label{
    margin: auto !important;
    width: fit-content !important;
    display: block !important;
    margin-bottom: 10px !important;
}

.card-image:hover img{
    transform: scale(1.1);
}

@media screen and (max-width: 770px) {
    .card.horizontal .card-image {
        width: 100%;
        height: 200px;
    }
    .card.horizontal {
        flex-direction: column;
    }
    .card-image{
        border-radius: 10px 10px 0 0;
    }
    .card.horizontal .card-image img {
        height: 100% !important;
    }

    .timestamp{
        position: relative;
        bottom: 0;
    }
}
