.news__detail{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  height: fit-content;
}

.name__news{
  font-weight: 600;
  font-size: 2rem;
  line-height: 54px;
  color: #832161;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 15px;
  margin-top: 40px;
}
.name__news::before{
  content: '';
  background: linear-gradient(180deg, #832161 0%, #DA4167 100%);
  width: 11px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
}

.content__news{
  padding: 25px;
}

.content__title{
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 61px;
  margin: 0;
}

.news__img{
  object-fit: contain;
  max-width: 500px;
  width: 100%;
}

.news__body{
  text-indent: 1.5rem;
  text-align: justify;
}

.btn-floating{
  border-radius: 0 !important;
  border-radius: 6px !important;
  padding: 5px !important;
}
.btn-large{
  width: fit-content !important;
  height: fit-content !important;
  line-height: normal !important;
  text-transform: capitalize;
  background: linear-gradient(180deg, #832161 0%, #DA4167 100%);
}
.pulse::before{
  background: linear-gradient(180deg, #832161 0%, #DA4167 100%);
}

@media screen and (max-width: 500px){
  .content__title{
    font-size: 1.7rem;
    line-height: 2.8rem;
    font-weight: 600;
  }

  .content__news{
    padding: 0;
  }

}