<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href={% static 'APP1/base.css' %}>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'APP1/icon/icon.svg' %}" />

  {% block head %}

  {% endblock head %}

  <title>CoronaTracker Lite</title>


</head>

<body>
  

  <section class="navbar">
    <nav>
      <div class="nav-wrapper nav__mod">
        <a href={% url 'APP1:index' %} class="brand-logo left"><img class="logo__app"
            src={% static 'APP1/icon/logo-app.svg' %} alt=""></a>
        <a href="#" style="transform: translateX(10px);" data-target="mobile-demo" class="sidenav-trigger right"><i
            class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down mid__ul">
          {% with url_name=request.resolver_match.url_name%}
          <li class="mid__ul__li {% if url_name == 'forums' %}under__line{% endif %}">
            <a class="li__mod tooltipped" data-position="bottom" data-tooltip="Forum" href={% url 'forums:forums' %}>
              <img class="icon__mod" src="
              {% if url_name == 'forums' %}
                {% static 'APP1/icon/forum_filled.svg' %}
              {% else %}
                {% static 'APP1/icon/forum.svg' %}
              {% endif %}
              " alt="">

            </a>
          </li>
          <li class="mid__ul__li {% if url_name == 'news' %}under__line{% endif %}">
            <a class="li__mod tooltipped" data-position="bottom" data-tooltip="News" href={% url 'news:news' %}>
              <img class="icon__mod" src="
              {% if url_name == 'news' %}
                {% static 'APP1/icon/news_filled.svg' %}
              {% else %}
                {% static 'APP1/icon/news.svg' %}
              {% endif %}
              " alt="">
            </a>
          </li>
          <li class="mid__ul__li {% if url_name == 'feedback' %}under__line{% endif %}">
            <a class="li__mod tooltipped" data-position="bottom" data-tooltip="Feedback"
              href={% url 'feedback:feedback' %}>
              <img class="icon__mod" src="
              {% if url_name == 'feedback' %}
                {% static 'APP1/icon/feedback_filled.svg' %}
              {% else %}
                {% static 'APP1/icon/feedback.svg' %}
              {% endif %}
              " alt="">
            </a>
          </li>
          {%endwith%}
        </ul>

        <div class="login__div">
          <ul>
            <li>
              <a class="li__mod dropdown-trigger" data-target='dropdown1'>

                {% if request.user.is_authenticated %}
                <img class="icon__mod icon__mod2 profile__img" src="{{request.user.account.image}}">
                <div style="line-height: initial; margin-right: 10px;">
                  <span style="font-size: 13px;">Hello, </span> <br>
                  <span>{{request.user.account.name | title | truncatechars:8}}</span>
                </div>

                {% else %}
                <img class="icon__mod icon__mod2 profile__img" src={% static 'APP1/icon/profile.svg' %} alt="">
                <div style="line-height: initial; margin-right: 10px;">
                  <span style="font-size: 13px;">Hello, </span> <br>
                  <span>Sign in</span>
                </div>
                {% endif %}

                <i class="material-icons">expand_more</i>
              </a>
            </li>
          </ul>
          <ul id='dropdown1' class='dropdown-content'>

            {% if request.user.is_authenticated %}
            <li><a href="{% url 'userProfile:profile' %}">Dashboard</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href={% url 'userProfile:logout' %}>Sign out</a></li>
            {% else %}
            <li><a href={% url 'userProfile:login' %}>Sign in</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href={% url 'userProfile:signup' %}>Sign Up</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <!-- INI SIDENAVNYA KLO MOBILE VIEW -->
    <ul class="sidenav right" id="mobile-demo">
      {% if request.user.is_authenticated %}

      <li>
        <div class="user-view">
          <div class="background" style="background: linear-gradient(179.01deg, #832161 0.82%, #DA4167 99.15%);">
          </div>
          <div style="display: flex; justify-content: left; align-items: center; margin-bottom: 5px;">

            <img class="icon__mod icon__mod2 profile__img" src="{{request.user.account.image}}">

            <a style="flex: .9;">
              <span style="margin: 0;font-size: 1.5rem;"
                class="white-text name">{{ request.user.account.name | title | truncatechars:8 }}</span>
            </a>
            <a class="link__profile" href="{% url 'userProfile:profile' %}">
              <i class="small material-icons">edit</i>edit
            </a>
          </div>
          <a style="padding: 5px 0;" class="link__profile">
            <i class="tiny material-icons">work</i>
            <span style="padding: 0 5px;" class="white-text email">
              {{ request.user.account.job | default:"Job" }},
              {{ request.user.account.age }}th
            </span>
          </a>
          <a style="padding: 5px 0 10px;" class="link__profile">
            <i class="tiny material-icons">email</i>
            <span style="padding: 0 5px;"
              class="white-text email">{{ request.user.account.email | default:"Email" }}</span>
          </a>
        </div>
      </li>
      {% endif %}

      <li>
        <div class="time relative">
          <i class="small material-icons">access_time</i>
          <span class="clock"></span>
        </div>
      </li>
      <li>
        <a style="display: flex;" href={% url 'forums:forums' %}>
          <img class="icon__mod icon__mod2" src={% static 'APP1/icon/forum.svg' %} alt="">
          Forums
          <span class="new badge new__badge">{{ request.session.forums_item }}</span>
        </a>
      </li>
      <li>
        <a style="display: flex;" href={% url 'news:news' %}>
          <img class="icon__mod icon__mod2" src={% static 'APP1/icon/news.svg' %} alt="">
          News
          <span class="new badge new__badge">{{ request.session.news_item }}</span>
        </a>
      </li>
      <li>
        <a style="display: flex;" href={% url 'feedback:feedback' %}>
          <img class="icon__mod icon__mod2" src={% static 'APP1/icon/feedback.svg' %} alt="">
          Feedback
        </a>
      </li>
      <li class="divider" tabindex="-1"></li>
      {% if request.user.is_authenticated %}
      <li>
        <a style="display: flex;" data-target='dropdown2' href={% url 'userProfile:logout' %}>
          <img class="icon__mod icon__mod2" src={% static 'APP1/icon/logout.svg' %} alt="">
          Logout
        </a>
      </li>
      {% else %}

      <li>
        <a style="display: flex;" data-target='dropdown2' href={% url 'userProfile:signup' %}>
          <img class="icon__mod icon__mod2" src={% static 'APP1/icon/signup.svg' %} alt="">
          Sign Up
        </a>
      </li>
      <li>
        <a style="display: flex;" data-target='dropdown2' href="{% url 'userProfile:login' %}">
          <img class="icon__mod icon__mod2" src={% static 'APP1/icon/login.svg' %} alt="">
          Login
        </a>
      </li>
      {% endif %}
    </ul>
  </section>

  <div id="clock" class="time hide-on-med-and-down">
    <i class="small material-icons">access_time</i>
    <span class="clock"></span>
  </div>
  <div class="body__container">
    {% block body %}


    {% endblock body %}
  </div>

  <footer style="text-align: center; padding: 10px;" class="page-footer">
    Made with ❤ by C07
  </footer>



  <!-- Compiled and minified JavaScript -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    const loader =
      `<div class="preloader-wrapper big active"> <div class="spinner-layer spinner-blue"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-red"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-yellow"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-green"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div></div>`;
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.sidenav').sidenav({
        edge: 'right',
        preventScrolling: 'false'
      });

      $('.tooltipped').tooltip({
        margin: -5,
        inDuration: 100,
        outDuration: 100,
        enterDelay: 0
      });
    })

    $('.dropdown-trigger').dropdown({
      closeOnClick: false,
      coverTrigger: false
    });

  </script>
  <script type="text/javascript">
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      $('.clock').html(h + ":" + m + ":" + s)
      setTimeout(startTime, 1000);
    }

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i
      }; // add zero in front of numbers < 10
      return i;
    }
    startTime()
  </script>
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("clock").style.top = "64px";
      } else {
        document.getElementById("clock").style.top = "-50px";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>
  {% block script %}

  {% endblock script %}

</body>

</html>