{% extends 'APP1/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
<link rel="stylesheet" href={% static 'APP1/landing.css' %}>
{% endblock head %}


{% block body %}
<div class="landing__app container__mod">
  <div class="content__wrapper max__500">
    <div class="landing__div">
      <div class="alert">⚠ Covid-19 Alert</div>
      <h4 class="landing__h4">
        Let's Protect Yourself From
        <span>COVID-19 💉</span>
      </h4>
    </div>

    <p class="landing__text">
      <b>COVID-19</b> affects different people in different ways.
      Protect yourself and others around you by knowing the facts and taking appropriate precautions.
      (who.int)
    </p>

    <button class="hoverable btn__first">Covid-19 Threat </button>
    <button data-target="modal1" class="tooltipped modal-trigger" data-position="right" data-tooltip="Watch Demo"
      style="width: 46px;">▶</button>

    <iframe id="modal1" class="embedvid modal" width="100%" height="60%" src="https://www.youtube.com/embed/FC4soCjxSOQ"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>

  </div>
  <img class="corona__group" src={% static 'APP1/img/corona-group.png' %} alt="">
  <img class="corona__solo" src={% static 'APP1/img/corona-solo.png'%} alt="">
</div>

<div class="status__cov container__mod" id="more">

  <img src={% static 'APP1/img/map.png' %} class="map" alt="">

  <div class="content__wrapper">
    <h4 class="recent__post__title pink1" style="color: #ffe0de;">Covid-19 Cases</h4>
    <select class="browser-default select__mod" name="country" id="countryId">
    </select>

    <div class="inline__block">
      <div class="card__cov">
        <p>Recovered <span id="incRecovery" style="color: #3ae794;"></span></p>
        <div class="stat" id="recover">
          <img src={% static 'APP1/icon/recovery-white.svg' %} alt="">
          <p id="recovered"></p>
        </div>
      </div>

      <div class="card__cov">
        <p>Confirmed <span id="incPositive" style="color: #ffba52;"></span></p>
        <div class="stat" id="positif">
          <img src={% static 'APP1/icon/positive-white.svg' %} alt="">
          <p id="positive"></p>
        </div>
      </div>

      <div class="card__cov">
        <p>Deaths <span id="incDeath" style="color: #ffa4bb;"></span></p>
        <div class="stat" id="death">
          <img src={% static 'APP1/icon/dead-white.svg' %} alt="">
          <p id="deaths"></p>
        </div>
      </div>

    </div>
    <div id="last_updated" style="font-style: italic;"></div>
  </div>
</div>

<div class="recent__post container__mod">
  <div class="content__wrapper">

    <img class="corona__img" src={% static 'APP1/img/corona-post.png' %} alt="">
    <h4 class="recent__post__title">Recent News</h4>
    <div class="row main-carousel">

      {% for news in list_news %}
      <div class="col s12 m6 l4 carousel-cell">
        <div class="card large card__large hoverable">
          <div class="card-image activator waves-effect waves-block waves-light card__img">
            <a href={% url 'news:news_detail' news.pk news.title|lower|slugify %}>
              <img src={{ news.image_url }} onerror="this.src='/static/news/news_default.svg'">
            </a>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4 ">
              <span class="card__title">{{ news.title }}</span>
            </span>
            <p class="card__content">
              <span style="color: rgb(141, 141, 141);">{{news.timestamp|date:"l, j F Y"}}</span>
              <a href={% url 'news:news_detail' news.pk news.title|lower|slugify %}>More →</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock body %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
  $(document).ready(function () {
    $('.modal').modal({
      onCloseEnd: stopVideo
    });
    $('.main-carousel').flickity({
      // options
      cellAlign: 'center',
      contain: false,
      autoPlay: 3000,
      groupCells: 1,
      prevNextButtons: false,
      draggable: true
    });

    fetchCountry('IDN');
    // jquery event 1
    $('#countryId').on('change', function () {
      fetchCountry(this.value);
    });
    // jquery event 2
    $('.btn__first').click(function () {
      let offsetCovCases = $('.status__cov').offset().top
      let navHeight = $('.nav__mod').outerHeight()
      $(window).scrollTop(offsetCovCases - navHeight)
    })
  });

  // perubahan HTML attr
  function stopVideo() {
    $('.embedvid').attr('src', "https://www.youtube.com/embed/FC4soCjxSOQ");
  }

  function formatNumber(num) {
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
  }

  function fetchCountry(country) {
    // perubahan HTML attr
    $('.inline__block').children().hide()
    $('.inline__block').append(loader);

    $.ajax({
        url: `https://disease.sh/v3/covid-19/countries/${country}`,
        success: (data) => {
          let date = new Date(data.updated);
          let days = date.toLocaleString("en-US", {
            weekday: "long"
          })
          let day = date.toLocaleString("en-US", {
            day: "numeric"
          })
          let month = date.toLocaleString("en-US", {
            month: "long"
          })
          let year = date.toLocaleString("en-US", {
            year: "numeric"
          })
          $('#last_updated').html(`***Last updated ${days}, ${day} ${month} ${year}`)
          $('#deaths').html(formatNumber(data.deaths))
          $('#incDeath').html(`(+${formatNumber(data.todayDeaths)})`)
          $('#positive').html(formatNumber(data.cases))
          $('#incPositive').html(`(+${formatNumber(data.todayCases)})`)
          $('#recovered').html(formatNumber(data.recovered))
          $('#incRecovery').html(`(+${formatNumber(data.todayRecovered)})`)
        }
      })
      .then(e => {
        $('.inline__block').children().show()
        $('.inline__block').children().remove('.preloader-wrapper')
      })
  }
</script>

<script type="text/javascript">
  function custom_template(obj) {
    var data = $(obj.element).data();
    var text = $(obj.element).text();
    if (data && data['img_src']) {
      img_src = data['img_src'];
      template = $(`
        <div>
          <img src="${img_src}" style="width:36px;height:36px;"/>
          <p style="font-weight: 600;font-size:14px;text-align:center;">${text}</p>
        </div>`);
      return template;
    }
  }

  var options = {
    'templateSelection': custom_template,
    'templateResult': custom_template,
  }

  $.ajax({
    url: 'https://disease.sh/v3/covid-19/countries',
    success: (data) => {
      data.forEach(country => {
        $('#countryId').append(`
        <option 
        value="${country.countryInfo.iso3}" 
        ${country.countryInfo.iso3=='IDN'?'selected':''} 
        data-img_src="${country.countryInfo.flag}">
          ${country.country}
        </option>
      `);
      });
    }
  })
  .then(e => {
    $('#countryId').select2(options);
    $('.select2-container--default').css({
      'display': 'block',
      'margin': 'auto',
      'border-radius': '24px'
    });
    $('.select2-selection--single').css({
      'border-radius': '24px'
    });
    $('.select2-search__field').css({
      'width': '20%'
    });
    // jquery event 
    $('.select2-selection').on('click', function () {
      $('.select2-search__field').addClass('browser-default');
    })
  });
</script>

{% endblock script %}