@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
*:focus{
  outline: none;
}

input {
  font-family: inherit !important;
}

h1 {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body__container > div:first-child {
  padding-top: 100px;
  padding-bottom: 80px;
}

main {
  flex: 1 0 auto;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #868686;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #da4167;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #da4167;
}

.brand-logo {
  display: flex !important;
  height: 100%;
  align-items: center;
}

.sidenav li > a,
nav {
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
}

.new__badge {
  background: linear-gradient(179.01deg, #832161 0.82%, #da4167 99.15%);
  margin-left: auto !important;
}

nav {
  position: fixed;
  z-index: 10;
  background-color: #ffe0de33;
  backdrop-filter: blur(8px);
  top: 0px;
}

.nav__mod {
  background-color: #fdfdfd00 !important;
  padding: 0 3vw;
}

.nav__mod a {
  color: black !important;
}

.mid__ul {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  height: 100%;
  width: fit-content;
  /* min-width: 39%; */
  transform: translateX(-50%);
}

.icon__mod {
  width: 30px;
  object-fit: contain;
}

.profile__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.profile__img2 {
  width: 100%;
  max-width: 56px;
  height: 100%;
  max-height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.link__profile {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.icon__mod2 {
  margin-right: 10px;
}

.dropdown-content {
  border-radius: 10px;
  color: white !important;
}

.li__mod {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 10px;
  height: 55px;
  margin: 3px;
}

.mid__ul .under__line {
  position: relative;
}

.mid__ul .under__line::after {
  content: "";
  width: 80%;
  height: 4px;
  border-radius: 10px 10px 0 0;
  left: 50%;
  transform: translate(-50%, 2px);
  display: block;
  background: #da4167;
  position: absolute;
  bottom: 0;
}

.mid__ul__li {
  width: 132px;
}

.material-tooltip {
  border-radius: 5px;
}

.login__div input {
  border: 1px solid #da4167 !important;
  height: 35px !important;
}

.login__div {
  position: absolute;
  padding: 0 !important;
  max-width: 100%;
  width: fit-content;
  right: 40px;
  display: flex;
  align-items: center;
}

.input__search {
  border-bottom-right-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-left: none !important;
  padding-left: 10px !important;
  width: inherit !important;
  font-size: 1rem !important;
  margin: 0 !important;
}

.icon__svg {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: none !important;
  border: 1px solid #da4167;
  height: 37px !important;
  display: inline-block;
  background: #da4167;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__svg:hover {
  cursor: pointer;
}

.time {
  position: fixed;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 128px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 5px;
  z-index: 9;
  background: #ffffff4f;
  backdrop-filter: blur(5px);
  color: #832161;
  transition: top 0.3s;
}

.clock {
  font-size: 1.2rem;
  font-weight: 500;
}

.flag {
  object-fit: contain;
  width: 50px;
  border-radius: 30%;
}

.relative {
  position: relative !important;
}

.material-tooltip {
  background: black;
  font-size: 10px;
  border-radius: 12px;
  min-height: fit-content;
  height: fit-content;
}

@media screen and (max-width: 600px) {
  .logo__app {
    margin: 2px;
    transform: scale(0.8) translateX(-12%);
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .login__div {
    display: none;
  }
  a.icon__svg {
    transform: translateY(-8.3px);
  }
  .input__search {
    max-width: 100%;
  }
  .time {
    top: 0;
  }
}
