.landing__app {
  min-height: 100vh;
  background: #ffe0de;

  display: flex;
  justify-content: space-between;
}
.container__mod {
  padding: 50px 5vw;
}

.max__500 {
  max-width: 500px;
}
.content__wrapper {
  margin: 0 50px;
  margin-right: 0;
}
.content__wrapper button {
  color: white !important;
  background-color: #832161;
  border-radius: 30px;
  border: none;
  padding: 15px;
  cursor: pointer;
  margin-right: 20px;
  background: linear-gradient(179.01deg, #832161 0.82%, #da4167 99.15%);
  transition: all 0.2s ease-out;
}
.btn__first:hover {
  transform: translateY(-5px);
}

.alert {
  color: #ff0040;
  background-color: #ff91ad44;
  width: fit-content;
  border-radius: 20px;
  padding: 2px 10px;
}
.landing__div {
  padding-top: 160px;
}
.landing__text {
  margin-top: 3.5rem;
  color: #ff436f;
}
.landing__h4 {
  font-weight: 900;
  line-height: 54px;
  font-size: 56px;
  color: #832161;
  margin-top: 1rem;
}
.landing__h4 > span {
  color: #da4167;
}

/* .card__img {
} */
.card__large {
  height: fit-content !important;
}
.card__title {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
  width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.card__content {
  display: flex;
  justify-content: space-between;
}

.status__cov {
  position: relative;
  z-index: 2;
  background: linear-gradient(107.43deg, #da4167 -12.37%, #832161 100%);
  color: white;
  height: 396px;
}
.map{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: .1;
}
.status__cov__h5 {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: fit-content;
  margin-bottom: 30px;
}
.select__mod{
    max-width: 250px !important;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    padding: 0 20px;
}
.select__mod option{
    text-align: center;
}
.select__mod:focus{
    outline: none;
}
.inline__block .card__cov {
  width: 300px;
}
.inline__block {
  display: flex;
  justify-content: space-evenly;
}
.status__cov div > p {
  margin-bottom: 0px;
  padding-left: 1rem;
  width: 80%;
  margin: 0;
  width: fit-content;
  font-weight: 500;
}

.stat {
  max-height: 92px;
  height: 71px;
  margin-bottom: 15px;
  border-radius: 15px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.stat p {
  font-weight: 600;
  font-size: 2.3rem;
  color: white;
  padding-right: 5px;
}

.stat img {
  object-fit: contain;
  max-width: 50px;
  width: 100%;
}

#death {
  background: #da4167;
}

#positif {
  background: #ffba52;
}

#recover {
  background: #3ae794;
}
#last_updated{
    margin: auto;
    width: fit-content;
}

.corona__solo {
  display: none;
  animation: idle 10s infinite;
}

.corona__group {
  object-fit: contain;
  max-width: 532px;
  height: fit-content;
  min-width: 200px;
  animation: idle 10s infinite;
}

.recent__post {
  background-color: #ffe0de;
  min-height: 90vh;
  position: relative;
}

.recent__post__title {
  color: #832161;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.modal{
  border-radius: 20px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.recent__post__title::before {
  content: "";
  width: 11px;
  height: 2.5rem;
  display: inline-block;
  background: #832161;
  margin-right: 0.6rem;
}
.pink1::before{
  background: #ffe0de;
}

.corona__img {
  object-fit: contain;
  width: 80px;
  position: absolute;
  bottom: 40px;
  left: 0;
  animation: idle 10s infinite;
}
.select2-results__option img, .select2-selection__rendered img{
  border-radius: 50%;
  object-fit: cover;
}
.select2-results__option div, .select2-selection__rendered div {
  display: flex;
  align-items: center;
  padding: 0;
}
.select2-results__option p, .select2-selection__rendered p{
  max-width: 170px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-left: 10px;
}
.select2-selection{
  height: fit-content !important;
  padding: 5px;
  margin-bottom: 20px;
}
.select2-selection__arrow{
  top: 50% !important;
  transform: translate(-10px, -50%) !important;
}
.select2-container:focus{
  outline: none;
}
@keyframes idle {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-5%);
  }
}

.card img {
  /* border-radius: 10px; */
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  object-fit: cover;
  height: 350px;
}

.card {
  border-radius: 10px;
}

.card-title {
  display: flex !important;
}

.card-title i {
  margin: 0;
}

@media only screen and (max-width: 350px) {
  .landing__text {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .stat {
    height: 55px;
    padding: 0 5px;
  }
  .content__wrapper {
    margin-left: 0;
  }
  .landing__div {
    padding-top: 100px;
  }
  .landing__h4 {
    font-size: 2.5rem;
    /* line-height: 2.6rem;  */
  }
  .corona__group {
    display: none;
  }
  .inline__block {
    flex-direction: column;
    align-items: center;
  }
  .corona__solo {
    display: inline;
    position: absolute;
    object-fit: contain;
    z-index: 1;
    right: 0px;
    top: 10%;
  }
  .card.medium {
    height: fit-content !important;
  }
  .card-title {
    font-size: 2.5rem;
  }
  .status__cov{
    height: 558px;
  }
}