#feedback {
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 480px;
    min-height: 100vh;
    margin: auto;
    top: 20px;
    border-radius: 8%;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: white;
}

.site-form {
    padding: 20px;
}

.body__container {
    min-height: 100vh;
    height: fit-content;
}

#lain {
    font-size: medium !important;
}

#rate {
    text-align: center;
}

#tulisan-rate {
    text-align: center;
    font-size: medium;
    color: black;
    font-weight: bold;
}

.checked {
    color: orange;
}

.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.input-field {
    text-align: center;
}

label {
    margin-left: 5px;
}

.category {
    text-align: center;
}

.category button:focus {
    background-color: peru;
}

.feedback-profil {
    margin: 4px 0;
    color: #3D2645;
    font-weight: bolder;
}

.feedback-profil>img {
    width: 20px;
    vertical-align: middle;
    margin: 0 4px;
}

@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
    }
    .card {
        max-width: 100%;
    }
    .card {
        object-fit: cover !important;
        object-position: top;
        width: 100% !important;
    }
    .card .card-panels {
        padding: 15px !important;
    }
}