.landing__app {
    min-height: 100vh;
    background: #FFE0DE;
    padding: 10px 5vw;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}

.content__wrapper {
    margin-left: 150px;
    max-width: 500px;
    margin-right: 50px;
}

.content__wrapper h4 {
    font-weight: 500;
    line-height: 54px;
    font-size: 36px;
}

.status__cov>p {
    margin-bottom: 0px;
    padding-left: 1rem;
    width: 80%;
    margin: 0;
    width: fit-content;
    font-weight: 500;
}

.stat {
    max-height: 92px;
    height: 71px;
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.stat p {
    font-weight: bold;
    font-size: 2.3rem;
    color: white;
    padding-right: 5px;
}

.stat img {
    object-fit: contain;
    max-width: 50px;
    width: 100%;
}

#death {
    background: #DA4167;
}

#positif {
    background: #FFBA52;
}

#recover {
    background: #3AE794;
}

.corona__solo {
    display: none;
    animation: idle 10s infinite;
}

.corona__group {
    object-fit: contain;
    max-width: 532px;
    height: fit-content;
    min-width: 200px;
    animation: idle 10s infinite;
}

.recent__post {
    background: linear-gradient(107.56deg, #DA4167 0%, #832161 100%);
    font-family: 'Poppins', sans-serif;
    padding: 10vh 5vw;
    min-height: 90vh;
    position: relative;
}

.recent__post__title {
    color: #FFE0DE;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.recent__post__title::before {
    content: '';
    width: 11px;
    height: 2.5rem;
    display: inline-block;
    background: #832161;
    margin-right: .6rem;
}

.corona__img {
    object-fit: contain;
    width: 80px;
    position: absolute;
    bottom: 40px;
    left: 0;
    animation: idle 10s infinite;
}

@keyframes idle {
    0% {
        transform: translateY(-5%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-5%);
    }
}

.card img {
    /* border-radius: 10px; */
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    object-fit: cover;
    max-height: 200px;
}

.card {
    border-radius: 10px;
}

.card-title {
    display: flex !important;
}

.card-title i {
    margin: 0;
}

@media only screen and (max-width: 992px) {
    .stat {
        height: 55px;
        padding: 0 5px;
    }
    .content__wrapper {
        margin-left: 0;
    }
    .content__wrapper h4 {
        font-size: 1.6rem;
    }
    .corona__group {
        display: none;
    }
    .corona__solo {
        display: inline;
        position: absolute;
        object-fit: contain;
        z-index: 2;
        right: 0px;
        top: 30%;
    }
    .card.medium {
        height: fit-content !important;
    }
    .card-title {
        font-size: 2.5rem;
    }
}